
<h2>Update Volunteer</h2>
<%= form_with url: "/volunteers/#{@volunteer.id}", method: :patch, local: true do |form| %>
<%= form.label :name, "What is your name?" %><br/>
<%= form.text_field :name, placeholder: "#{@volunteer.name}" %><br/>
<%= form.label :registered, "Are you already registered? (true or false please)" %><br/>
<%= form.text_field :registered, placeholder: "#{@volunteer.registered}" %><br/>
<%= form.label :hours_available, "How many hours are you available?" %><br/>
<%= form.text_field :hours_available, placeholder: "#{@volunteer.hours_available}" %><br/>
<%= form.submit 'Update Volunteer' %>
<% end %>
