
<h1>All Volunteers</h1>
<% @volunteers.each_with_index do |volunteer, index| %>
  <div id="volunteer-<%= index %>">
    <h2><%= link_to "#{volunteer.name}", "/volunteers/#{volunteer.id}" %></h2>
    <p>Hours Available: <%= volunteer.hours_available %></p>
    <p>Is this Volunteer Registered? <%= volunteer.registered %></p>
    <p>Volunteer Start Date:<%= volunteer.created_at %></p>
    <p>Information Updated:<%= volunteer.updated_at %></p>
    <%= link_to 'Update Volunteer', "/volunteers/#{volunteer.id}/edit" %></br>
    <%= link_to 'Delete Volunteer', "/volunteers/#{volunteer.id}", method: :delete %>
  </div>
<% end %>

