
<h2>Sign Up to Volunteer</h2>
<%= form_with url: "/projects/#{@project.id}/volunteers", method: :post, local: true do |form|%>
  <%= form.label :name, "What is your name?" %><br/>
  <%= form.text_field :name %><br/>
  <%= form.label :registered, "Are you already registered? (true or false please)" %><br/>
  <%= form.text_field :registered %><br/>
  <%= form.label :hours_available, "How many hours are you available?" %><br/>
  <%= form.text_field :hours_available %><br/>
  <%= form.submit 'Create Volunteer' %>
<% end %>