
<h2>Update Project</h2>
<%= form_with url: "/projects/#{@project.id}", method: :patch, local: true do |form| %>
<%= form.label :name, "What is your Project's name?" %><br/>
<%= form.text_field :name, placeholder: "#{@project.name}" %><br/>
<%= form.label :active, "Is this Project active? (true or false please)" %><br/>
<%= form.text_field :active, placeholder: "#{@project.active}" %><br/>
<%= form.label :funding, "How much funding does this Project have?" %><br/>
<%= form.text_field :funding, placeholder: "#{@project.funding}" %><br/>
<%= form.submit 'Update Project' %>
<% end %>