
 <h2>Create a new Project</h2>
<%= form_with url: "/projects", method: :post, local: true do |form|%>
  <%= form.label :name, "What is your Project's name?" %><br/>
  <%= form.text_field :name %><br/>
  <%= form.label :active, "Is this Project active? (true or false please)" %><br/>
  <%= form.text_field :active %><br/>
  <%= form.label :funding, "How much funding does this Project have?" %><br/>
  <%= form.text_field :funding %><br/>
  <%= form.submit 'Create Project' %>
<% end %>