 <a href="/projects">Project Information</a>
 <h1><%= @projects.name %></h1>
 <h4>Is this project active?</h4>
  <p><%= @projects.active %></p>
  <h4>Funding</h4>
  <p><%= @projects.funding %></p>
  <h4>Project Start Date</h4>
  <p><%= @projects.created_at %></p>
  <h4>Updated at</h4>
  <p><%= @projects.updated_at %></p>