  <a href="/projects">Projects</a>
  <a href='/volunteers'>Volunteers</a>
  <h1><%= @project.name %></h1>
  <h4>Is this project active?</h4>
  <p><%= @project.active %></p>
  <h4>Funding</h4>
  <p><%= @project.funding %></p>
  <h4>Project Start Date</h4>
  <p><%= @project.created_at %></p>
  <h4>Updated at</h4>
  <p><%= @project.updated_at %></p>
  <p>Number of Volunteers: <%= @project.volunteers.length %></p>

<ul>
  <li><a href='/projects/<%= @project.id %>/volunteers'>Current Volunteers</a></li>
  <li><a href="/projects/<%= @project.id %>/edit">Update Project</a></li>
</ul>